@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;

  @media (max-width:$sm) {
    padding: 26px 25px;
    justify-content: center;
  }

  img {
    width: 190.82px;
    height: 60px;
    cursor: pointer;

    @media (max-width:$sm) {
      width: 194.545px;
      height: 60px;
    }
  }

  a {
    width: 100px;

    @media (max-width:$sm) {
      display: none;
    }
  }


}

.main {
  padding: 180px 105px 105px 105px;
  background-image: url(../../assets/login-bg.png);
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-size: 100% 66%;
  background-position: bottom;

  @media (max-width:$sm) {
    padding: 5px 25px;
    height: calc(100vh - 112px);
    background-image: url(../../assets/login-small-bg.png);
    background-size: 100%;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;

    .flex1 {
      border-radius: var(--Icons, 12px);
      border: 1.272px solid var(--Strokes-Stroke-A, #D0D0D7);
      background: var(--Background, #FFF);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      width: 100%;
      max-width: 500px;
      padding: 30px;

      @media (max-width: $sm) {
        box-shadow: none;
        background-color: none;
        border: none;
        padding: 0px;
      }

      .innerFlex {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        p {
          font-weight: 500 !important;
          @include font24;
          color: $primary;
          margin-top: 0px !important;
          margin-bottom: 0px !important;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }

      h6 {
        font-weight: 700;
        @include font40;
        text-align: center;
        color: #2A2C33;
      }

      p {
        font-weight: 300;
        @include font14;
        text-align: center;
        color: #2A2C33;
        margin-top: 5px;
        margin-bottom: 45px;

        @media (max-width:$sm) {
          margin-bottom: 20px;
        }
      }

      .label {
        margin-top: 10px;
      }

      input {
        max-width: 100% !important;

        &:focus {
          border: 1px solid #2A2C33;
        }

        &:active {
          border: 1px solid #2A2C33;
        }
      }

      .loginBtn {
        max-width: 100% !important;
        border-radius: 5px;
        background: linear-gradient(85deg, #E25E3E 0%, #E24872 49.24%, #A44E86 98.49%) !important;
        height: 41px !important;
        margin-top: 20px;

        @media (max-width:$sm) {
          height: 29px !important;
          padding: 8px !important;
        }


        span {
          @include font18;
          font-weight: 500;
          line-height: normal;

          @media (max-width:$sm) {
            @include font14;
          }
        }
      }
    }
  }
}

.btn {
  background-color: transparent !important;
  border: 1px solid #E25E3E !important;
  max-width: 100%;
  padding: 10px;

  @media (max-width:$sm) {
    height: 29px !important;
    padding: 8px !important;
    margin-top: 10px;
  }

  span {
    background: var(--Brand-Shades-Primary-Shade, linear-gradient(85deg, #E25E3E 0%, #E24872 49.24%, #A44E86 98.49%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1440 - 320)) !important;

    @media (max-width:$sm) {
      font-size: calc(11px + (14 - 11) * (100vw - 320px) / (1440 - 320)) !important;
    }
  }
}

.smallBtn {
  display: none;

  @media (max-width:$sm) {
    display: block;
  }
}