@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss'; // Tabs.scss
.tabsContainer {
  width: 100%;
}

.tabs {
  display: flex;
  border-bottom: 1px solid rgba(214, 214, 214, 1);
  .tabTitle {
    padding: 10px 20px;
    @media (max-width: 550px) {
      padding: 10px 5px;
    }
    color: var(--placeholder);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Public Sans;
    @include font15;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
  }
  .active {
    border-bottom: 2px solid var(--text-color3);
    color: var(--text-color3);
  }
}

.tab-content {
  margin-top: 20px;
}
