@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainDiv {
  max-width: 400px !important;
  padding: 40px !important;

  .crossImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    svg {
      cursor: pointer;
      height: 20px;
      width: 20px;
    }

    .modalTitle {
      @include font22;
      font-weight: 700;
      color: var(--text-color3);
    }
  }

  .p {
    color: var(--text-color3);
    @include font15;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .innerFlex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;

    p {
      font-weight: 600;
      @include font13;
      color: var(--text-color3);
      cursor: pointer;
    }
  }
}

.hover {
  position: relative;

  &:hover {
    &>div {
      opacity: 1;
      transition-delay: 0.3s;
    }
  }

  .tooltip {
    transition: 0s;
    opacity: 0;
    position: absolute;
    background: $white;
    border: 1px solid #e2e2ea;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px 2px 2px 0px;
    padding: 3px 9px;
    width: max-content;
    bottom: 28px;
    right: -15px;
    z-index: 200;

    p {
      font-weight: 400;
      @include font13;
      color: #2d2d2d;
      text-transform: capitalize;
    }

    &::before {
      content: '';
      bottom: -15px;
      right: 15px;
      transform: rotate(180deg);

      z-index: 2010;

      clip-path: polygon(50% 61%, 0% 100%, 100% 100%);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      background: var(--background-color);
      height: 16px;
      width: 14px;

      position: absolute;
    }
  }
}

.backBack {
  padding: 0px;
}