@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;

  @media (max-width: $sm) {
    padding: 26px 25px;
    justify-content: center;
  }

  img {
    width: 190.82px;
    height: 60px;
    cursor: pointer;

    @media (max-width: $sm) {
      width: 194.545px;
      height: 60px;
    }
  }

  a {
    width: 100px;

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 105px;
  background-image: url(../../assets/login-bg.png);
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-size: 100% 66%;
  background-position: bottom;

  @media (max-width: $sm) {
    padding: 5px 25px;
    height: calc(100vh - 112px);
    background-image: none;
    background-size: 100%;
  }

  .card {
    border-radius: var(--Icons, 12px);
    border: 1.272px solid var(--Strokes-Stroke-A, #d0d0d7);
    background: var(--Background, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    height: max-content;

    @media (max-width: $sm) {
      box-shadow: none;
      background-color: none;
      border: none;
      padding: 0px;
    }

    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 40px;

      @media (max-width: $md) {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .moreInner {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 5px;
        cursor: pointer;
        span {
          @include font16;
          font-weight: 500;
          color: var(--Fonts-Font-A, #2a2c33);
        }

        img {
          height: 24px;
          width: 24px;

          @media (max-width: $sm) {
            height: 16px;
            width: 16px;
          }
        }
        transform: scale(1);
        &:hover {
          transform: scale(1.05);
          transition: transform 0.2s ease-in-out; /* Adjust the duration and easing as needed */
        }
      }
      .selected {
        border-bottom: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(85deg, #e25e3e 0%, #e24872 49.24%, #a44e86 98.49%);
      }
    }

    input {
      max-width: 100% !important;

      &:focus {
        border: 1px solid #2a2c33;
      }

      &:active {
        border: 1px solid #2a2c33;
      }
    }

    h2 {
      font-weight: 700;
      @include font40;
      text-align: center;
      color: #2a2c33;
    }

    .label {
      margin-top: 12px;

      @media (max-width: $sm) {
        margin-top: 10px;
      }
    }

    .checkbox {
      margin-top: 12px;
      display: flex;
      align-items: flex-start;

      @media (max-width: $sm) {
        margin-top: 10px;
      }

      h6 {
        @include font14;
        font-weight: 300;
        line-height: normal;

        span {
          color: #e25e3e;
          font-weight: 600;
        }
      }
    }

    .checkboxClass {
      @include font14;
      font-weight: 300;
      padding-left: 24px;
      margin-top: 12px;

      span {
        border: 1px solid #2d2d32;
        height: 14px;
        width: 14px;
        border-radius: 3px;
      }

      span::after {
        border: solid #2d2d32 !important;
        border-width: 0 2px 2px 0 !important;
        left: 4px !important;
        top: 0px !important;
      }
    }

    .loginBtn {
      max-width: 100% !important;
      border-radius: 5px;
      background: linear-gradient(85deg, #e25e3e 0%, #e24872 49.24%, #a44e86 98.49%) !important;
      height: 41px !important;
      margin-top: 24px;

      @media (max-width: $sm) {
        height: 29px !important;
        padding: 8px !important;
        margin-top: 10px;
      }

      span {
        @include font18;
        font-weight: 500;
        line-height: normal;

        @media (max-width: $sm) {
          @include font14;
        }
      }
    }
  }
}

.smallBtn {
  display: none;

  @media (max-width: $sm) {
    display: block;
  }
}

.btn {
  background-color: transparent !important;
  border: 1px solid #e25e3e !important;
  max-width: 100%;
  padding: 10px;

  @media (max-width: $sm) {
    height: 29px !important;
    padding: 8px !important;
    margin-top: 10px;
  }

  span {
    background: var(
      --Brand-Shades-Primary-Shade,
      linear-gradient(85deg, #e25e3e 0%, #e24872 49.24%, #a44e86 98.49%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1440 - 320)) !important;

    @media (max-width: $sm) {
      font-size: calc(11px + (14 - 11) * (100vw - 320px) / (1440 - 320)) !important;
    }
  }
}

.checkbox1 {
  margin-top: 24px !important;

  @media (max-width: $sm) {
    margin-top: 13px !important;
  }
}
