@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.layoutWrapper {
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  .mobileHeaderDiv {
    display: none;
    @media (max-width: $sm) {
      display: block;
    }
  }
  header {
    height: calc(100vh - 20px);
    position: fixed;
    z-index: 1000;
    margin: 10px;
    top: 0;
    @media (max-width: $sm) {
      display: none;
    }
  }
  footer {
    display: none;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    @media (max-width: $sm) {
      display: block;
    }
  }

  .noNameIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
  }

  .navbarDiv {
    @media (max-width: 768px) {
      display: none;
    }
    top: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--background-color);
    padding: 10px 10px 0px 0px;

    h6 {
      font-weight: 700;
      @include font26;
      line-height: 22px;
      color: var(--text-color3);
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        cursor: pointer;
      }
    }

    .allProjects {
      box-shadow: 0px 4px 4px 0px #00000040;
      border: 1px solid #d6d6d6;
      border-radius: 7px;
      min-width: 160px;
      position: absolute;
      z-index: 1000;
      background-color: var(--table-row);
      top: 30px;
      max-height: 300px;
      overflow-y: auto;
      .p {
        border-bottom: 1px solid #d6d6d6;
        @include font13;
        font-weight: 400;
        line-height: 15px;
        color: var(--text-color3);
        margin-top: 0px;
        padding: 10px;
      }

      .innerFlex {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        border-bottom: 1px solid #d6d6d6;
        &:last-child {
          border-bottom: none;
        }
        span {
          border-radius: 5px;
          padding: 3px 5px;
          border: 1px solid var(--text-color3);
          text-transform: uppercase;
          @include font15;
          font-weight: 600;
          line-height: 18px;
          color: var(--text-color3);
        }
        p {
          color: var(--text-color3);
          margin-top: 0px;
          @include font13;
          font-weight: 400;
          line-height: 15px;
        }
      }
    }
    p {
      font-weight: 400;
      @include font15;
      line-height: 18px;
      color: var(--placeholder);
      margin-top: 12px;
    }
  }
  .navbarDivMobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
    width: 100%;
    gap: 10px;
    top: 0;
    z-index: 500;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--background-color);
    padding: 20px 20px 0px 0px;

    input {
      width: 250px;
    }

    h6 {
      font-weight: 700;
      @include font26;
      line-height: 22px;
      color: var(--text-color3);
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        cursor: pointer;
      }
    }
    .doneText {
      color: var(--Font-C, #071952);
      font-feature-settings: 'clig' off, 'liga' off;
      /* Mobile/H1 */
      font-family: Public Sans;
      @include font18;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .allProjects {
      @media (max-width: $sm) {
        display: none;
      }
      box-shadow: 0px 4px 4px 0px #00000040;
      border: 1px solid #d6d6d6;
      border-radius: 7px;
      min-width: 160px;
      position: absolute;
      z-index: 1000;
      background-color: var(--table-row);
      top: 30px;
      max-height: 300px;
      overflow-y: auto;
      .p {
        border-bottom: 1px solid #d6d6d6;
        @include font13;
        font-weight: 400;
        line-height: 15px;
        color: var(--text-color3);
        margin-top: 0px;
        padding: 10px;
      }

      .innerFlex {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        border-bottom: 1px solid #d6d6d6;
        &:last-child {
          border-bottom: none;
        }
        span {
          border-radius: 5px;
          padding: 3px 5px;
          border: 1px solid var(--text-color3);
          text-transform: uppercase;
          @include font15;
          font-weight: 600;
          line-height: 18px;
          color: var(--text-color3);
        }
        p {
          color: var(--text-color3);
          margin-top: 0px;
          @include font13;
          font-weight: 400;
          line-height: 15px;
        }
      }
    }
    .allProjectsMobile {
      display: none;
      @media (max-width: $sm) {
        display: block;
      }

      min-width: 160px;

      z-index: 1000;

      overflow-y: auto;
      .p {
        border-bottom: 1px solid #d6d6d6;
        @include font13;
        font-weight: 400;
        line-height: 15px;
        color: var(--text-color3);
        margin-top: 0px;
        padding: 10px;
      }

      .innerFlex {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        border-bottom: 1px solid #d6d6d6;
        &:last-child {
          border-bottom: none;
        }
        span {
          border-radius: 5px;
          padding: 3px 5px;
          border: 1px solid var(--text-color3);
          text-transform: uppercase;
          @include font15;
          font-weight: 600;
          line-height: 18px;
          color: var(--text-color3);
        }
        p {
          color: var(--text-color3);
          margin-top: 0px;
          @include font13;
          font-weight: 400;
          line-height: 15px;
        }
      }
    }
    p {
      font-weight: 400;
      @include font15;
      line-height: 18px;
      color: var(--placeholder);
      margin-top: 12px;
    }
  }
  .childDiv {
    height: calc(100vh - 92px);
    overflow-y: auto;
    padding-right: 20px;
    @media (max-width: 450px) {
      padding-right: 10px;
    }
  }
}

.sectionMargin {
  margin-left: 95px;
  @media (max-width: $sm) {
    margin-left: 15px;
    padding-bottom: 60px;
  }
}
.backdrop {
  position: fixed;
  inset: 0;
  background-color: transparent;
  z-index: 90;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  p {
    color: var(--Font, var(--Font-A, #2d2d32));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Public Sans;
    @include font13;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: var(--Font-A, #2d2d32);
      font-family: Public Sans;
      @include font15;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .workspaceInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #d6d6d6;
    padding-top: 8px;
    .nameLogoCurrent {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #11103d;
      span {
        color: white;
      }
    }
  }
  .allWorkspaces {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d6d6d6;
    height: 200px;
    overflow-y: scroll;
    gap: 10px;
    .addDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        cursor: pointer;
        color: var(--Font-C, #071952);
        display: flex;
        align-items: center;
        font-family: Public Sans;
        @include font10;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        gap: 8px;
      }
    }
    span {
      color: var(--Font, var(--Font-A, #2d2d32));
      /* Mobile/Subtitle */
      font-family: Public Sans;
      @include font13;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    .nameLogo {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #11103d;
      color: white;
    }
  }
  .logoutDiv {
    display: flex;
    gap: 5px;
    padding-top: var(--Padding, 8px);
    align-items: center;
    justify-content: end;
    border-top: 1px solid var(--Stroke-A, #d6d6d6);
  }
}
.skeletonLoader {
  width: 100%;
  height: 40px; /* Adjust the height as needed */
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

// Define the animation for the skeleton loader
@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.menuDiv {
  display: block;
  @media (max-width: $sm) {
    display: none;
  }
}
.mobileSearchDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  input {
    width: calc(100vw - 70px) !important;
  }
}
