@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.upperDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  .boxWidth {
    width: 292px !important;
    @media (max-width: 450px) {
      width: 100% !important;
    }
  }
}
.middleDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 326px;
  width: 100%;
  @media (max-width: $md) {
    height: 100%;
    align-items: start;
  }
  @media (max-width: $sm) {
    flex-direction: column;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 65%;

    @media (max-width: $md) {
      width: 50%;
      height: 100%;
      align-items: flex-start;
      flex-direction: column;
    }
    @media (max-width: $sm) {
      width: 100%;
    }

    .valueBoxDiv {
      @media (max-width: $md) {
        width: 100%;
        flex-direction: row;
      }
      @media (max-width: 500px) {
        flex-direction: column;
      }
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
      .valueBoxClass {
        @media (max-width: 1140px) {
          height: 200px;
        }
        width: 100%;
      }
      .valuePaletteClass {
        height: 200px;
      }
    }
  }
  .right {
    width: 35%;
    height: 326px;
    @media (max-width: $md) {
      width: 50%;
      display: flex;
    }
    @media (max-width: $sm) {
      width: 100%;
    }
  }
}

.lowerDiv {
}
