.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  height: 35px;
  width: 100%;
  border-radius: var(--Padding, 10px);
  background: var(--Secondary, #e25e3e);
  cursor: pointer;
  border: none;
  box-shadow: none;
  padding: 10px;
  color: white;
  &:disabled {
    background-color: #9da1aa;
    span {
      color: #363636 !important;
    }
  }

  .img {
    margin-right: 10px;
    width: 17.997px;
    height: 18.462px;
  }
  svg {
    margin-right: 10px;
    width: 12px;
    height: 13px;
  }

  .btnTitle {
    color: white;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
