.main .react-datepicker__day--keyboard-selected {
  border-radius: 5px !important;
}

.react-datepicker__day--outside-month {
  color: #afafaf !important;
  pointer-events: none !important;
}

.react-datepicker-popper {
  inset: 18px auto auto 35px !important;
  padding: 10px !important;
  z-index: 1000 !important;
  font-family: 'Public Sans', sans-serif;
}

.react-datepicker__day,
.react-datepicker__day--031,
.react-datepicker__day--outside-month {
  font-weight: 500 !important;
  @include font13 !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  display: none !important;
}

.react-datepicker {
  background: var(--background-color1) !important;
  border: 1px solid var(--background-color1) !important;
  border-radius: 8px !important;
  z-index: 1000 !important;
  margin-top: -20px !important;
  left: -50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  margin: 3px !important;
  /* padding: 10px 20px !important; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  @include font15;
  color: var(--text-color1) !important;
  margin-top: 7px;
}

@media screen and (max-width: 768px) {
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    margin: 4px !important;
  }
}

.react-datepicker__day-name {
  font-weight: 500 !important;
  @include font13 !important;
  color: var(--text-color1) !important;
  margin-left: 10px !important;
  margin-right: 0px !important;
  font-family: 'Public Sans', sans-serif;
}
.react-datepicker__day--today,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #11103d !important;
  border-radius: 6px !important;
  @include font15 !important;
  color: white !important;
  font-family: 'Public Sans', sans-serif;
}

.react-datepicker__input-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px !important;
}

.react-datepicker__input-time-container .react-datepicker-time__caption {
  font-weight: 600;
  @include font15;
  color: var(--text-color1);
}

.react-datepicker__day--today {
  background-color: #11103d !important;
  color: #fff !important;
}
